<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817140080703-lqae5qrdbq4u67ll7p5uc2dvjd9b2v78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817140080703-lqae5qrdbq4u67ll7p5uc2dvjd9b2v78</string>
	<key>API_KEY</key>
	<string>AIzaSyBCvnO9wBJVpYziJS2UzFA6a6zYbI2WWMU</string>
	<key>GCM_SENDER_ID</key>
	<string>817140080703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ataevents.intAppone</string>
	<key>PROJECT_ID</key>
	<string>ata-events</string>
	<key>STORAGE_BUCKET</key>
	<string>ata-events.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817140080703:ios:2293de7d77f0ccfe9bd88a</string>
</dict>
</plist>